<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Langdon Systems | AGS &amp; Duty Management Systems</title>    
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
    <link href='http://fonts.googleapis.com/css?family=Open+Sans' rel='stylesheet' type='text/css'>
</head>
<body>

    <div class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <div class="col-md-5">
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    <div class="logo">
                        <img src="~/Images/langdon-systems-logo.png" />
                    </div>
                </div>
            </div>
            <div class="col-md-7">
                <div class="navbar-collapse collapse">
                    <ul class="nav navbar-nav">
                        <li>@Html.ActionLink("Home", "Index", "Home")</li>
                        <li>@Html.ActionLink("About", "About", "Home")</li>
                        <li>@Html.ActionLink("Contact", "Contact", "Home")</li>
                    </ul>
                    @*@Html.Partial("_LoginPartial")*@
                </div>
            </div>
        </div>
    </div>
    <div class="container-fluid body-content">

        @RenderBody()
        
        <div class="row" style="background-color:#fff;">
            <br />
            <div class="container" style="text-align:center;">
                <div class="blueButtonsInformation">

                    <ul class="blueButtons clearfix">


                        <li class="clearfix">

                            <a href="http://langdonsystems.nl/contact/">

                                <img class="blueImg" src="http://langdonsystems.nl/wp-content/uploads/2014/08/blue-button-phone-icon.png">
                                <span class="blueTitle">Get In Touch!</span>
                                <span class="blueText">We'd love to hear from you</span>

                            </a>

                        </li>


                    </ul>

                </div>
                <br />
            </div>
        </div>

        <div class="row" style="background-color:#279dd8;">
            <div class="container">
                <p>Free Newsletter Signup</p>
            </div>
        </div>
        <div class="row" id="menus">

            <div class="container">
                <div class="col-md-4">
                    <h4 style="color: #279dd8;">Who We Are</h4>
                    <ul class="footer-menus">
                        <li>About Us</li>
                        <li>Sectors</li>
                        <li>Consultancy</li>
                        <li>Project Management</li>
                        <li>Account Management</li>
                        <li>Career Opportunities</li>
                    </ul>
                </div>
                <div class="col-md-4" style="border-left:1px solid #808080;">
                    <h4 style="color: #279dd8;">What We Do</h4>
                    <ul class="footer-menus">
                        <li>Support</li>
                        <li>Developments</li>
                        <li>AGS</li>
                        <li>Bonded Warehousing</li>
                        <li>Regimes</li>
                        <li>Products</li>
                    </ul>
                </div>
                <div class="col-md-4" style="border-left:1px solid #808080;">
                    <h4 style="color: #279dd8;">Why We Do It</h4>
                    <ul class="footer-menus">
                        <li>Our Vision</li>
                        <li>Our Values</li>
                        <li>Customs</li>
                        <li>Benefits</li>
                        <li>Solutions</li>
                        <li>Testimonials</li>
                    </ul>
                </div>
                <br />
                <br />
                <div class="col-md-12">

                    <p>Telephone: 040 440 0330 Email: informatie@langdonsystems.nl</p>
                </div>
            </div>

        </div>
        <div class="row">
            <footer class="footer">
                <div class="container">

                    <h4>Our Technology Stack</h4>
                    <p>&copy; @DateTime.Now.Year Langdon | Sitemap | Privacy Policy | Terms of use</p>
                </div>
            </footer>




        </div>
    </div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</body>
</html>
